APP_NAME= "mini-RAG"
APP_VERSION = "0.1"
OPEN_API_KEY = "enter_yours"

FILE_ALLOWED_TYPES = ["text/plain", "application/pdf"]
FILE_MAXIMUM_SIZE = 1024 #bytes
FILE_CHUNK_SIZE = 1024 #bytes

MONGODB_URL = ""
MONGODB_DATABASE=""