fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
python-dotenv==1.1.1
aiofiles==24.1.0
pydantic==2.11.7
langchain==0.3.27
PyMuPDF==1.26.3
langchain-community==0.3.27
pymongo==4.13.2
bson==0.5.10